.badge-container {
  width: fit-content;
  height: 30px;
  background-color: transparent;
  display: flex;
  margin-top: 20px;
  margin-left: -10px;
  z-index: 1;
}
.badge-topbox {
  background-color: red;
  width: fit-content;
  height: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  font-size: 15px;
}
.badge-transparentBox {
  border: 15px solid red;
  border-right: 15px solid transparent;
}
