.cartProductCard-container {
  width: 100%;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.cartProductCard-productImg {
  height: 100%;
}
.cartProductCard-contentBox {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  padding-top: 10px;
}
.cartProductCard-contentTitle {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cartProductCard-priceBox,
.cartProductCard-numBox,
.cartProductCard-sizes,
.cartProductCard-quantity {
  display: flex;
  gap: 10px;
}
.cartProductCard-numBox {
  display: flex;
  gap: 30px;
  margin: 10px 0px;
}

.cartProductCard-qtyCounter {
  display: flex;
  gap: 10px;
}
.cartProductCard-qtyCounter > button {
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
}
.cartProductCard-quantity {
  display: flex;
  gap: 10px;
}
.cartProductCard-buttonBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.cartProductCard-removeBtn {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #ff3e6c;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .cartProductCard-container {
    flex-direction: column;
    width: 300px;
    height: fit-content;
  }
  .cartProductCard-productImg {
    height: auto;
    width: 300px;
  }
  .cartProductCard-contentBox {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
